<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hover Card</title>
    <link rel="stylesheet" href="/static/base/css/hover.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    
    <h1> Image Gallery</h1>
    <div class="center">
      <figure class="card card-with-hover">
        <img
          src="/static/base/img/genro/img1.jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h1>Registration Rules</h1>
            <div class="card-text-wrapper">
            </div>
          </div>
        </figcaption>
      </figure>

      <figure class="card card-with-hover">
        <img
          src="/static/base/img/genro/img2.jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>Singer Akhil</h2>
            <div class="card-text-wrapper">
            </div>
          </div>
        </figcaption>
      </figure>

      <figure class="card card-with-hover">
        <img
          src="/static/base/img/genro/img3.jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>DJ Suitup</h2>
            <div class="card-text-wrapper">
            </div>
          </div>
        </figcaption>
      </figure>

      <figure class="card card-with-hover">
        <img
          src="/static/base/img/genro/img4.jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>SWATTREX</h2>
            <div class="card-text-wrapper">
            </div>
          </div>
        </figcaption>
      </figure>

      <figure class="card card-with-hover">
        <img
          src="/static/base/img/genro/img5.jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>Different Packs</h2>
            <div class="card-text-wrapper">
            </div>
          </div>
        </figcaption>
      </figure>

      <figure class="card card-with-hover">
        <img
          src="/static/base/img/genro/img6.jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>Squid Games </h2>
            <div class="card-text-wrapper">
            </div>
          </div>
        </figcaption>
      </figure>

      <figure class="card card-with-hover">
        <img
          src="/static/base/img/genro/img6.jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>Squid Games </h2>
            <div class="card-text-wrapper">
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
  </body>
</html>
